.App{
  width: 100vw;
  padding: 0;
  margin: 0;
  color: #222222;
  transform: none !important;
  background-color: rgba(18, 18, 18, 0.6);
}

.background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.message-text{
  color:white;
  font-size:1rem;
  margin:0;
  padding:0 0.8rem;
  max-width: calc(min(100vw,740px));
  line-height: 1.6rem;
  white-space: pre-wrap;
  word-break: break-word;
}